header {
  margin-top: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  font-size: 40px;
}
#title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.side-bar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 35px;
  position: fixed;
  top: 0;
  left: 100;
  right: 0;
  margin-top: 10px;
  /* z-index: 100; */
}
.carrier-list {
  
}
.first-row-carriers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 15px;
  padding: 50px 50px 50px 50px
}
.second-row-carriers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 15px;
}
.third-row-carriers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 15px;
}
.fourth-row-carriers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 15px;
}
.carrier-images{
 cursor: pointer;
}

.side-bar {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
